In [1]:
from __future__ import print_function, division
import pylab as pl
import pandas as pd
import numpy as np

In [2]:
!cd /nfshome/fb1182/PUIdata/

In [3]:
!ls

201601-citibike-tripdata.csv  Assignment1.ipynb		  HW3_fb1182
201601-citibike-tripdata.zip  FHVBaseAggregateReport.csv  Untitled.ipynb

In [4]:
!rm -rf 201601-citibike-tripdata.csv

In [5]:
!curl -O https://s3.amazonaws.com/tripdata/201601-citibike-tripdata.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 16.9M  100 16.9M    0     0  26.3M      0 --:--:-- --:--:-- --:--:-- 26.3M

In [6]:
!unzip 201601-citibike-tripdata.zip

Archive:  201601-citibike-tripdata.zip
  inflating: 201601-citibike-tripdata.csv

In [7]:
!ls

201601-citibike-tripdata.csv  Assignment1.ipynb		  HW3_fb1182
201601-citibike-tripdata.zip  FHVBaseAggregateReport.csv  Untitled.ipynb

IDEA:
Children of ages (16,18) are more likely to choose high schools around End Station Name A than high schools near other End Station Names

NULL HYPOTHESIS:
    
The proportion of children of ages (16,18) docking their bikes during the week around 8:00 a.m that is between(7:55 a.m - 8:30 a.m) at other End Station Names is the same or lower than the
proportion of children(16,18) docking their bikes at End Station Name A around the same time, during the week. 

_$H_0$ : $\frac{Children(16,18){\mathrm{Other End Station Names}}}{Children(16,18){\mathrm{total}}} <= \frac{Children(16,18){\mathrm{End Station Name A}}}{Children(16,18)_{\mathrm{total}}}$
    
_$H_1$ : $\frac{Children(16,18){\mathrm{Other End Station Names}}}{Children(16,18){\mathrm{total}}} > \frac{Children(16,18){\mathrm{End Station Name A}}}{Children(16,18)_{\mathrm{total}}}$

or identically:

_$H_0$ : $\frac{Children(16,18){\mathrm{Other End Station Names}}}{Children(16,18){\mathrm{total}}} - \frac{Children(16,18){\mathrm{End Station Name A}}}{Children(16,18)_{\mathrm{Total}}} <= 0
    
_$H_1$ : $\frac{Children(16,18){\mathrm{Other End Station Names}}}{Children(16,18){\mathrm{total}}} - \frac{Children(16,18){\mathrm{End Station Name A}}}{Children(16,18)_{\mathrm{Total}}} > 0

We will use a significance level  $\alpha=0.05$

Which means we want the probability of getting a result at least as significant as ours to be less then 5%

For this test we are starting with a single month of data: reading data from citibike csv file from Jan 2016
    
What is wanted is the date - to determine whether or not the trip occurred during the week as opposed to the weekend, the time - to determine the trip is taking place around 8:00 a.m, birth date of subscriber to check whether rider is between given age, and End Station for each trip. Preserving stoptime; endstation name; birthyear; date.

In [8]:
df = pd.read_csv('201601-citibike-tripdata.csv')
df['date'] = pd.to_datetime(df['starttime'])

In [9]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1,2016-01-01 00:00:41
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1,2016-01-01 00:00:45
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2,2016-01-01 00:00:48
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2,2016-01-01 00:01:06
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1,2016-01-01 00:01:12

In [10]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'date'],
      dtype='object')

In [11]:
df.drop(['tripduration', 'starttime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'gender'], axis=1, inplace=True)

In [12]:
df.head()

,stoptime,end station name,birth year,date
0,1/1/2016 00:16:04,South End Ave & Liberty St,1958.0,2016-01-01 00:00:41
1,1/1/2016 00:07:04,Broadway & W 32 St,1969.0,2016-01-01 00:00:45
2,1/1/2016 00:10:37,Greenwich Ave & 8 Ave,1982.0,2016-01-01 00:00:48
3,1/1/2016 00:15:56,South End Ave & Liberty St,1961.0,2016-01-01 00:01:06
4,1/1/2016 00:25:52,Central Park S & 6 Ave,1952.0,2016-01-01 00:01:12

In [19]:
df['birth year'] = df['birth year'].astype(int).astype(str)

In [20]:
df.head()

,stoptime,end station name,birth year,date
0,1/1/2016 00:16:04,South End Ave & Liberty St,1958,2016-01-01 00:00:41
1,1/1/2016 00:07:04,Broadway & W 32 St,1969,2016-01-01 00:00:45
2,1/1/2016 00:10:37,Greenwich Ave & 8 Ave,1982,2016-01-01 00:00:48
3,1/1/2016 00:15:56,South End Ave & Liberty St,1961,2016-01-01 00:01:06
4,1/1/2016 00:25:52,Central Park S & 6 Ave,1952,2016-01-01 00:01:12

In [13]:
df1 = df[df.isnull().any(axis=1)]

In [14]:
print(df1)

                  stoptime             end station name  birth year  \
19       1/1/2016 00:23:49      Allen St & Rivington St         NaN
20       1/1/2016 00:23:54      Allen St & Rivington St         NaN
22       1/1/2016 00:12:15               E 4 St & 2 Ave         NaN
26       1/1/2016 00:44:58              9 Ave & W 45 St         NaN
28       1/1/2016 00:32:50           E 67 St & Park Ave         NaN
30       1/1/2016 00:32:01              E 11 St & 2 Ave         NaN
31       1/1/2016 00:32:03              E 11 St & 2 Ave         NaN
32       1/1/2016 00:40:51              E 55 St & 2 Ave         NaN
52       1/1/2016 00:42:08              W 27 St & 7 Ave         NaN
53       1/1/2016 00:42:10              W 27 St & 7 Ave         NaN
73       1/1/2016 00:43:26              8 Ave & W 33 St         NaN
74       1/1/2016 00:43:24              8 Ave & W 33 St         NaN
76       1/1/2016 00:43:15              8 Ave & W 33 St         NaN
80       1/1/2016 00:43:13              8 Ave & W 33 St         NaN
91       1/1/2016 00:50:34              W 43 St & 6 Ave         NaN
93       1/1/2016 00:50:45              W 43 St & 6 Ave         NaN
94       1/1/2016 00:50:08              W 43 St & 6 Ave         NaN
97       1/1/2016 01:07:11     Elizabeth St & Hester St         NaN
98       1/1/2016 00:42:37      E 51 St & Lexington Ave         NaN
100      1/1/2016 00:42:37      E 51 St & Lexington Ave         NaN
104      1/1/2016 00:51:26           E 14 St & Avenue B         NaN
105      1/1/2016 00:54:22   South End Ave & Liberty St         NaN
108      1/1/2016 00:54:17   South End Ave & Liberty St         NaN
109      1/1/2016 00:51:23           E 14 St & Avenue B         NaN
111      1/1/2016 00:54:08   South End Ave & Liberty St         NaN
113      1/1/2016 00:54:11   South End Ave & Liberty St         NaN
115      1/1/2016 01:07:14     Elizabeth St & Hester St         NaN
120      1/1/2016 01:10:41             W 47 St & 10 Ave         NaN
125      1/1/2016 01:11:27             W 47 St & 10 Ave         NaN
126      1/1/2016 00:40:18  Sullivan St & Washington Sq         NaN
...                    ...                          ...         ...
508864  1/31/2016 21:58:19              W 24 St & 7 Ave         NaN
508868  1/31/2016 22:18:20       W Broadway & Spring St         NaN
508871  1/31/2016 22:19:12       W Broadway & Spring St         NaN
508897  1/31/2016 22:12:47              E 39 St & 2 Ave         NaN
508929  1/31/2016 22:16:57              W 44 St & 5 Ave         NaN
508968  1/31/2016 22:35:18           W 84 St & Broadway         NaN
508988  1/31/2016 22:23:06              E 52 St & 2 Ave         NaN
509045  1/31/2016 22:35:20           W 84 St & Broadway         NaN
509082  1/31/2016 22:38:48              E 47 St & 1 Ave         NaN
509084  1/31/2016 22:38:29              E 47 St & 1 Ave         NaN
509126  1/31/2016 22:53:33        Pershing Square North         NaN
509152  1/31/2016 22:47:51     Franklin St & W Broadway         NaN
509177  1/31/2016 22:57:37          Broadway & Berry St         NaN
509180  1/31/2016 23:23:05       Myrtle Ave & Lewis Ave         NaN
509228  1/31/2016 23:20:40            Kent Ave & N 7 St         NaN
509232   2/1/2016 12:25:40             W 20 St & 11 Ave         NaN
509237  1/31/2016 23:20:18            Kent Ave & N 7 St         NaN
509239  1/31/2016 23:20:57            Kent Ave & N 7 St         NaN
509248   2/1/2016 17:09:09              W 42 St & 8 Ave         NaN
509250   2/1/2016 18:21:12       Forsyth St & Broome St         NaN
509263  1/31/2016 23:20:11            Kent Ave & N 7 St         NaN
509264  1/31/2016 23:21:12            Kent Ave & N 7 St         NaN
509268  1/31/2016 23:20:51            Kent Ave & N 7 St         NaN
509272  1/31/2016 23:10:52      Allen St & E Houston St         NaN
509274  1/31/2016 23:10:39      Allen St & E Houston St         NaN
509357   2/1/2016 00:03:04           Broadway & W 60 St         NaN
509358   2/1/2016 00:03:01           Broadway & W 60 St         NaN
509413  1/31/2016 23:45:49              W 37 St & 5 Ave         NaN
509432  1/31/2016 23:51:30        Howard St & Centre St         NaN
509435  1/31/2016 23:51:36        Howard St & Centre St         NaN

                      date
19     2016-01-01 00:09:31
20     2016-01-01 00:09:55
22     2016-01-01 00:10:24
26     2016-01-01 00:11:15
28     2016-01-01 00:12:14
30     2016-01-01 00:12:31
31     2016-01-01 00:12:35
32     2016-01-01 00:12:46
52     2016-01-01 00:17:19
53     2016-01-01 00:17:24
73     2016-01-01 00:20:42
74     2016-01-01 00:20:46
76     2016-01-01 00:21:09
80     2016-01-01 00:21:17
91     2016-01-01 00:25:59
93     2016-01-01 00:26:10
94     2016-01-01 00:26:10
97     2016-01-01 00:26:45
98     2016-01-01 00:26:47
100    2016-01-01 00:26:55
104    2016-01-01 00:27:33
105    2016-01-01 00:27:36
108    2016-01-01 00:27:45
109    2016-01-01 00:27:45
111    2016-01-01 00:27:50
113    2016-01-01 00:27:55
115    2016-01-01 00:28:24
120    2016-01-01 00:28:52
125    2016-01-01 00:29:38
126    2016-01-01 00:29:41
...                    ...
508864 2016-01-31 21:53:37
508868 2016-01-31 21:54:21
508871 2016-01-31 21:54:33
508897 2016-01-31 21:57:27
508929 2016-01-31 22:01:50
508968 2016-01-31 22:07:49
508988 2016-01-31 22:11:24
509045 2016-01-31 22:17:57
509082 2016-01-31 22:23:08
509084 2016-01-31 22:23:28
509126 2016-01-31 22:29:36
509152 2016-01-31 22:34:31
509177 2016-01-31 22:40:14
509180 2016-01-31 22:41:07
509228 2016-01-31 22:52:50
509232 2016-01-31 22:53:24
509237 2016-01-31 22:54:36
509239 2016-01-31 22:54:53
509248 2016-01-31 22:55:50
509250 2016-01-31 22:55:59
509263 2016-01-31 22:57:53
509264 2016-01-31 22:58:18
509268 2016-01-31 22:58:46
509272 2016-01-31 22:59:16
509274 2016-01-31 22:59:33
509357 2016-01-31 23:20:48
509358 2016-01-31 23:21:10
509413 2016-01-31 23:36:42
509432 2016-01-31 23:43:03
509435 2016-01-31 23:43:22

[24545 rows x 4 columns]

In [15]:
print (df.isnull())

       stoptime end station name birth year   date
0         False            False      False  False
1         False            False      False  False
2         False            False      False  False
3         False            False      False  False
4         False            False      False  False
5         False            False      False  False
6         False            False      False  False
7         False            False      False  False
8         False            False      False  False
9         False            False      False  False
10        False            False      False  False
11        False            False      False  False
12        False            False      False  False
13        False            False      False  False
14        False            False      False  False
15        False            False      False  False
16        False            False      False  False
17        False            False      False  False
18        False            False      False  False
19        False            False       True  False
20        False            False       True  False
21        False            False      False  False
22        False            False       True  False
23        False            False      False  False
24        False            False      False  False
25        False            False      False  False
26        False            False       True  False
27        False            False      False  False
28        False            False       True  False
29        False            False      False  False
...         ...              ...        ...    ...
509448    False            False      False  False
509449    False            False      False  False
509450    False            False      False  False
509451    False            False      False  False
509452    False            False      False  False
509453    False            False      False  False
509454    False            False      False  False
509455    False            False      False  False
509456    False            False      False  False
509457    False            False      False  False
509458    False            False      False  False
509459    False            False      False  False
509460    False            False      False  False
509461    False            False      False  False
509462    False            False      False  False
509463    False            False      False  False
509464    False            False      False  False
509465    False            False      False  False
509466    False            False      False  False
509467    False            False      False  False
509468    False            False      False  False
509469    False            False      False  False
509470    False            False      False  False
509471    False            False      False  False
509472    False            False      False  False
509473    False            False      False  False
509474    False            False      False  False
509475    False            False      False  False
509476    False            False      False  False
509477    False            False      False  False

[509478 rows x 4 columns]

In [16]:
df = df[np.isfinite(df['birth year'])]

In [17]:
print (df.isnull())

       stoptime end station name birth year   date
0         False            False      False  False
1         False            False      False  False
2         False            False      False  False
3         False            False      False  False
4         False            False      False  False
5         False            False      False  False
6         False            False      False  False
7         False            False      False  False
8         False            False      False  False
9         False            False      False  False
10        False            False      False  False
11        False            False      False  False
12        False            False      False  False
13        False            False      False  False
14        False            False      False  False
15        False            False      False  False
16        False            False      False  False
17        False            False      False  False
18        False            False      False  False
21        False            False      False  False
23        False            False      False  False
24        False            False      False  False
25        False            False      False  False
27        False            False      False  False
29        False            False      False  False
33        False            False      False  False
34        False            False      False  False
35        False            False      False  False
36        False            False      False  False
37        False            False      False  False
...         ...              ...        ...    ...
509448    False            False      False  False
509449    False            False      False  False
509450    False            False      False  False
509451    False            False      False  False
509452    False            False      False  False
509453    False            False      False  False
509454    False            False      False  False
509455    False            False      False  False
509456    False            False      False  False
509457    False            False      False  False
509458    False            False      False  False
509459    False            False      False  False
509460    False            False      False  False
509461    False            False      False  False
509462    False            False      False  False
509463    False            False      False  False
509464    False            False      False  False
509465    False            False      False  False
509466    False            False      False  False
509467    False            False      False  False
509468    False            False      False  False
509469    False            False      False  False
509470    False            False      False  False
509471    False            False      False  False
509472    False            False      False  False
509473    False            False      False  False
509474    False            False      False  False
509475    False            False      False  False
509476    False            False      False  False
509477    False            False      False  False

[484933 rows x 4 columns]